/* 
    Created on : Jan 16, 2018, 11:15:01 AM
    Author     : Pashupatinath Mishra
*/
* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}
body
{
    font-family: 'poppinsregular';
    font-size:15px; color:#000;
    line-height:24px;
    background: url(../images/back-main.png) repeat scroll 0% 0%;
}
@font-face {
    font-family: 'poppinsbold';
    src: url('../fonts/poppins-bold.html') format('woff2'),
        url('../fonts/poppins-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinslight';
    src: url('../fonts/poppins-light.html') format('woff2'),
        url('../fonts/poppins-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsmedium';
    src: url('../fonts/poppins-medium.html') format('woff2'),
        url('../fonts/poppins-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular.html') format('woff2'),
        url('../fonts/poppins-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinssemibold';
    src: url('../fonts/poppins-semibold.html') format('woff2'),
        url('../fonts/poppins-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Conv_BrushScriptStd_1';
    src: url('../fonts/BrushScriptStd_1.eot');
    src: local('â˜º'), url('../fonts/BrushScriptStd_1.woff') format('woff'), url('../fonts/BrushScriptStd_1.ttf') format('truetype'), url('../fonts/BrushScriptStd_1.html') format('svg');
    font-weight: normal;
    font-style: normal;
}
.top-menu ul {
    margin: 0;
    padding: 0;
}
.top-menu li {
    display: inline-block;
}
.top-menu a {
    border-right: 1px solid #000;
    color: #000;
    font-family: poppinsmedium;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
}
.top-menu li:last-child a{border-right: none}
.right-top {
    text-align: right;
}
.top-container 
{
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}
.tagline {
    padding-top: 25px; font-family: 'Conv_BrushScriptStd_1'; color: darkgray; font-size: 30px;
}
.menu-container {
    background-color: transparent;
    padding-bottom: 10px;
    padding-top: 10px;
}
.footer_container {
    background: url(../images/footer-back.png) repeat scroll 0% 0%;
    color: #aaa;
    font-size: 12px;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus, input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}


button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

/*---------------------------------------------*/

.container-login {
    width: 100%;  
    min-height: 65vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    /*background: #f2f2f2;  */
}
.wrap-login {
    width: 390px;
    background: rgba(102, 102, 102, 0.06);
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    margin-top:10px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.login-form {
    width: 100%;
}
.login-form-title {
    display: block;
    font-family: 'poppinssemibold';
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 26px;
    text-transform: uppercase;
}
.login-form-title i {
    font-size: 60px;
}
.login-form-full {
    width: 100%;
}
.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}
.wrap-input > .input {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
}
.wrap-input .focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.wrap-input .focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    background: #6a7dfe;
    background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    background: -o-linear-gradient(left, #21d4fd, #b721ff);
    background: -moz-linear-gradient(left, #21d4fd, #b721ff);
    background: linear-gradient(left, #21d4fd, #b721ff);
}

.wrap-input .focus-input::after {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #999999;
    line-height: 1.2;

    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.input:focus + .focus-input::after {
    top: -15px;
}

.input:focus + .focus-input::before {
    width: 100%;
}

.has-val.input + .focus-input::after {
    top: -15px;
}

.has-val.input + .focus-input::before {
    width: 100%;
}
.btn-show-pass {
    font-size: 15px;
    color: #999999;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding-right: 5px;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.btn-show-pass:hover {
    color: #6a7dfe;
    color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    color: -o-linear-gradient(left, #21d4fd, #b721ff);
    color: -moz-linear-gradient(left, #21d4fd, #b721ff);
    color: linear-gradient(left, #21d4fd, #b721ff);
}

.btn-show-pass.active {
    color: #6a7dfe;
    color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    color: -o-linear-gradient(left, #21d4fd, #b721ff);
    color: -moz-linear-gradient(left, #21d4fd, #b721ff);
    color: linear-gradient(left, #21d4fd, #b721ff);
}
.container-login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
}

.wrap-login-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
}



.login-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #c31b28; /* Old browsers */
    background: -moz-linear-gradient(left, #c31b28 0%, #ad1bd6 60%, #363475 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #c31b28 0%,#ad1bd6 60%,#363475 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #c31b28 0%,#ad1bd6 60%,#363475 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c31b28', endColorstr='#363475',GradientType=1 ); /* IE6-9 */
    /*  background: #a64bf4;
      background: -webkit-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
      background: -o-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
      background: -moz-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
      background: linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);*/
    top: 0;
    left: -100%;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login-form-btn {
    font-family: 'poppinsmedium';
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
}

.wrap-login-form-btn:hover .login-form-bgbtn {
    left: 0;
}
.txt1 {
    font-family: 'poppinsregular';
    font-size: 13px;
    color: #666666;
    line-height: 1.5;
}
.txt2 {
    font-family: 'poppinsregular';
    font-size: 13px;
    color: #333333;
    line-height: 1.5;
}
.registration-title {
    border-bottom: 1px solid #C0C0C0;
}
.upload-preview {
    max-width: 300px;
    height: auto;
    border: 1px solid #808080;
    padding: 5px;
    border-radius: 5px;
    background: #fff !important;
    margin: 10px 0;
}
.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;  
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  top: 0;
  width: 600px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}

.registration-title {
    color: #3A3778;
    text-align: center;
    margin:  50px 0;
    border-bottom: none;
    position:relative;
    line-height: 0;
}
.registration-title span {
  display: inline-block;
  position: relative;  
}
.registration-title span:before,
.registration-title span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #C31B28;
  border-top: 1px solid #C31B28;
  top: 0;
  width: 600px;
}
.registration-title span:before {
  right: 100%;
  margin-right: 15px;
}
.registration-title span:after {
  left: 100%;
  margin-left: 15px;
}

#signupForm {
    overflow: hidden;
}
div.small-font {
    font-size: 13px;
    font-family: unset;
}
.asterisk {
    color: red;
}